/* test */

header,footer{background-color: #f4f4f4;}
footer{font-weight: bold;font-size: small;text-align: center;line-height: 3em;}

footer{
    width: 100%;
    Height: auto;
    border-style: outset;
    border: 1%;
    padding: 0%;
    margin: 0%;
    }

    table{align:"center";font-family:'Times New Roman', Times, serif; text-align: center;}
    table caption{font-family:'Times New Roman', Times, serif; font-weight: bold; font-size: 2em;}
    table thead{background-color:rgb(134, 66, 236); color:rgb(106, 193, 237);}
    table tbody th{border-style:solid; border-width: 2px; background-color: white; color: rgb(114, 10, 241);}
    table tbody td{border-style:solid; border-width: 2px; background-color: rgba(125, 193, 241, 0); color: rgba(140, 160, 240, 0.712);}

