
 div.enrolment {
 background-color: #9597c7ad;
  margin: 10px;
  padding: 20px;
  position: center;
  text-align:center;
  font-size: 30px;
}

div {
  justify-content:center;
  text-align: center;
}

.item2{
width:100;

}

h1{
  text-align: center; 
  font-size: xx-large;
}

h2{
  text-align: center; 
  font-size: x-large;
}

h3{
  text-align: center; 
  font-size: small;
}

p{
  font-size: x-small; 
  line-height: 0%;
}

body {
  background-color: #abacc9ad ;
}
#list{
  text-align: left;
  list-style-type: none;
  align-items: center;
}

#list input{
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.list1{  
  justify-content: center;  
  margin-left: 30%;
  margin-right: 30%;
}

.enrolment div select{
  width:200px;
  font-size: large;
  background-color: #9287e385;
  }