.allCorsessCards{
    display: flex;
    flex-direction: column;
    background-color:   #a69cecc5;
    width: 80%;
    border-radius: 43px;
    align-items: stretch;
    justify-content: space-around;
    margin: auto;  
  }

  
  .coursesRow{
    display: flex;
    flex-direction: row; /*default*/
    justify-content: space-around;
    /* ----coursesRow------ :
      margin-right: 6rem;
column-gap: 5rem;
padding: 1rem 2rem;
margin-left: 80px;
margin-bottom: 2rem;
    */
  }
  
  .CourseContainer {
    width: 50%;
    box-sizing: border-box;
    border-radius: 43px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #f4f4f4;
    margin: 25px 25px 25px;
    /* ---------CourseContainer----------
    background: #FFFEFE;
display: flex;
flex-direction: column;
width: 336px;
height: 539px;
border: 1px solid #ccc;
filter: drop-shadow(1px 6px 5px rgba(125, 125, 125, 0.25));
border-radius: 43px;
    */
  }
  
  .CourseContainer img{
    border-top-left-radius: 43px;
    border-top-right-radius: 43px;
  }

  .timeDate{ 
    float:right;
    color: #000;
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 5px 0;
  }

  .courseDetails{
padding: 10px;
margin: auto;
}

.courseDetails h4{
margin: 0;
color: #000;
font-size: 19px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.courseD-title{
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    margin: 5px 0;
    }
    
.courseD-text {
    margin: 5px 0;
    color: #6B6A6A;
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    height:5rem;
    }
  
  .Tutor {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 25px;
  }
        
  .Tutor img {
    float: left;
    margin: 0 10px 0 -25px;
    height: 40px;
    width: 40px;
    border-radius: 45px;
  } 


  .checked {
    color: orange;
  }

  /*
  .cardInfo{
    display: none;
}

.Onhover:hover + .cardInfo{
    display: block;
}
*/


  
  .MoreInfo { 
    margin: 1px;
    width: auto;
  } 

  .MoreInfo p{
    margin: 5px 0;
    font-size: 12px;
    border: 2px;
    border-radius: 12px;
    padding: 5px;
    background-color: #dad7d7;
    margin: 1px;
  }