
 div.evaluation {
 background-color: #9287e37a;
  margin: 10px;
  padding: 20px;
  position: center;
  text-align:center;
  font-size: 30px;
}

div {
  justify-content:center;
  text-align: center;
}

.row1{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 8rem;
  width: 95%;
  padding: 1rem 2rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
}

div.evaluationfeedback{
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 1rem 2rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  text-align: center;

}

h1{
  text-align: center; 
  text-shadow: 2px 2px 5px rgba(162, 0, 255, 0.623);
  font-family: "Times New Roman", Times, serif;
}



.evaluation div select{
width:200px;
font-size: large;
background-color: #9187e3;
border-color: transparent transparent rgb(199, 157, 235) transparent;
}