
* {
  font-family: 'Poppins', sans-serif;
}

 div.evaluation {
  background-color: #9287e37a;
  margin: auto;
  margin-bottom: 3em;
  padding: 20px;
  text-align:center;
  font-size: 30px;
  border-radius: 20px;
  width: 90%;
}

div {
  justify-content:center;
  text-align: center;
  align-items: center;
}

.row1{
  display:flex;
  align-items: center;
  justify-content: center;
  column-gap: 8rem;
  width: 95%;
  padding: 1rem 2rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
}

div.evaluationfeedback{
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 1rem 2rem;
  margin-right: 6rem;
  margin-bottom: 2rem;
  text-align: center;

}

h1{
  text-align: center; 
  font-size: xx-large;
}

h2{
  text-align: center; 
  font-size: x-large;
}

.evaluation div select{
  width:200px;
  font-size: large;
  background-color: #9287e385;
  }

body {
  background-color: #abacc9ad ;
}

.checked {
  color: #9187e3;
}

.item2 .fa-star.active{
  color: #fbff0b;
}